<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
 
<head profile="http://gmpg.org/xfn/11"> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
 
<title>lastpixel</title> 
 
<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" /> 

</head> 
<body id="top"> 
<div id="menucontainer"> 
<div class="content"> 
<ul> 
<li class="current_page_item"><a href="/">lastpixel</a></li> 
</ul> 
</div> 
</div> 
<div id="maincontainer"> 

{{ content }}
 
<script type="text/javascript"> 
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script> 
<script type="text/javascript"> 
var pageTracker = _gat._getTracker("UA-4693163-1");
pageTracker._initData();
pageTracker._trackPageview();
</script> 
 
 
<div id="bottomcontainer"> 
<div class="content"> 
</div> 
</div> 
 
<div id="footer"> 
<div class="content"> 
<p>Design &copy; 2006 by <a href="http://theundersigned.net">the undersigned</a> | AJAX by <a href="http://sevengoslings.net">Seven Goslings</a> | Powered by <a href="http://wordpress.org">WordPress</a></p> 
</div> 
</div> 
</div> 
 
</body> 
</html>